<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">

    <!-- Studies -->
    <div class="bottom-three">
      <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
      <!-- PhD -->
      <p align="center" >&#8226 I'm currently working on my
      <strong>Ph.D.</strong> in <a href="http://uva.computationalscience.nl" target="_blank">Computational Science</a> under the supervision of
      <a href="http://www.peter-sloot.com/" target="_blank">Prof. dr. Peter Sloot</a> and 
      <a href="https://staff.fnwi.uva.nl/a.g.hoekstra/" target="_blank">Prof. dr. Alfons Hoekstra</a> at the
      <a href="http://www.uva.nl" target="_blank">University of Amsterdam</a>.</p>
      <!-- M.Sc. -->
      <p align="center">&#8226 <strong>M.Sc.</strong> in Theoretical
      Physics supervised by <a href="https://www.mpi-hd.mpg.de/personalhomes/tonywolf/" target="_blank">Dr. Antonino Di-Piazza</a> from the
      <a href="http://www.mpi-hd.mpg.de" target="_blank">Max-Planck Institute for Nuclear Physics</a> 
      and the <a href="http://www.uni-heidelberg.de" target="_blank"> University of Heidelberg</a>.</p>
      <!-- B.Sc. -->
      <p align="center" >&#8226 <strong>B.Sc.</strong> (cum laude) in
      Physics and Astronomy from <a href="http://www.tau.ac.il" target="_blank">Tel-Aviv University</a>.
      </p>
    </div>

    <!-- Work -->
    <div align="center" class="bottom-three">
      <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>

      <!-- TravelBird -->
      <p align="center" >&#8226 For a short time I was a back-end python developer at 
      <a href="http://www.travelbird.nl" target="_blank">TravelBird.</a></p>
      <!-- S-DH -->
      <p align="center" >&#8226 I worked at <a href="http://www.s-dh.de"
                                   target="_blank">S-DH GmbH</a> for two years during
                                 my Masters. </p>
      <!-- Teaching Assistant -->
      <p align="center" >&#8226 I was a teaching assistant at the Hebrew
      University for the courses: <i>Classical Mechanics</i>, <i>Analytical
        Electrodynamics</i> and <i>The Standard Model of Elementary Particles</i> (Graduate
      course).</p>
      <!-- IDF -->
      <p align="center" >&#8226 I was a communications sergeant and programmer
      in the IDF. </p>
    </div>

    <!-- Computer Skills -->
    <div align="center" class="bottom-three">
      <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="80" height="80"></p>
      <p align="center" >&#8226 These days <strong>Python</strong> is the go-to
      choice. With <strong>numpy</strong>, <strong>scipy</strong>, <strong>pandas</strong>, <strong>matplotlib</strong>, and
      <strong>Jupyter notebooks</strong> I hardly need anything else.</p>
      <p align="center" >&#8226 In the past I used, in no particular order: <strong>c,
        JavaScript, Matlab, Mathematica, VisualBasic, Pascal, Delphi, PHP</strong>. </p>
      <p align="center" >&#8226 Last, but not least, <strong>vim</strong>,
      <strong>git</strong> and <strong>LaTeX</strong>.</p>
    </div>
    
    <!-- Languages -->
    <div align="center" class="bottom-three">
      <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
      <p align="center" >&#8226 <strong>Hebrew</strong> is my mother tongue.</p>
      <p align="center" >&#8226 <strong>English</strong> is a close contender.</p>
      <p align="center" >&#8226 My <strong>German</strong> is fluent.</p>
      <p align="center" >&#8226 <strong>Dutch</strong> is somewhat lagging behind but not completely hopeless.</p>
    </div>
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
